/* You can add global styles to this file, and also import other style files */
:root {
    --blue: #0d4191;
    --white: #ffffff;
    --black:#000000;
    --red: #c61526;
    --background-grey: #f2f4f7;
  }